* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
  font-size: 1px;

  @media (max-width: 1850px) {
    font-size: 0.95px;
  }

  @media (max-width: 1780px) {
    font-size: 0.9px;
  }

  @media (max-width: 1680px) {
    font-size: 0.85px;
  }

  @media (max-width: 1580px) {
    font-size: 0.8px;
  }

  @media (max-width: 1480px) {
    font-size: 0.75px;
  }

  @media (max-width: 1380px) {
    font-size: 0.7px;
  }

  @media (max-width: 1330px) {
    font-size: 0.65px;
  }

  @media (max-width: 1240px) {
    font-size: 0.6px;
  }

  @media (max-width: 1140px) {
    font-size: 0.55px;
  }

  @media (max-width: 1030px) {
    font-size: 0.5px;
  }

  @media (max-width: 930px) {
    font-size: 0.45px;
  }

  @media (max-width: 850px) {
    font-size: 1px;
  }
}

body {
  font-family: $font-Outfit;
  font-style: normal;
  font-display: swap;
  background: $color-dark;
}

body.menu-open {
  overflow: hidden;
}

input, textarea {
  outline: none;
  border: 0;
  background: transparent;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

ul, ol, dl {
  list-style: none;
  padding: 0;
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

.container {
  max-width: calc(1720rem);
  margin: 0 auto;
  padding: 0 20rem;
}

.section_title {
  font-weight: 400;
  font-size: 67rem;
  line-height: 121%;
  text-transform: uppercase;
  color: $color-white;

  span {
    display: inline;
    background: linear-gradient(90deg, #f00 0%, #c70a0a 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @include media('md') {
    font-size: 26rem;
  }
}

.sub_title {
  font-weight: 300;
  font-style: Italic;
  font-size: 20rem;
  line-height: 100%;
  letter-spacing: -3%;
  text-transform: uppercase;
  color: $color-grey-ac;

  @include media('md') {
    font-size: 16rem;
  }
}

.btn {

  &-red {
    padding: 20rem 50rem;
    font-family: $font-Onest;
    font-weight: 700;
    font-style: Bold;
    font-size: 22rem;
    line-height: 100%;
    letter-spacing: -2%;
    text-align: center;
    text-transform: uppercase;
    color: $color-white;
    border-radius: 100rem;
    height: 72rem;
    background: linear-gradient(90deg, #FF0000 0%, #EB2323 100%);
    transition: .3s ease;

    &:hover {
      -webkit-box-shadow: 7px 11px 12px 0px rgba(255, 0, 0, 0.2);
      -moz-box-shadow: 7px 11px 12px 0px rgba(255, 0, 0, 0.2);
      box-shadow: 7px 11px 12px 0px rgba(255, 0, 0, 0.2);
    }

    @include media('md') {
      height: 60rem;
      font-size: 18rem;
      padding: 10rem;
    }
  }
}

.section-top {
  margin-top: 140rem;

  @include media('md') {
    margin-top: 80rem;
  }
}

.section_head {
  display: flex;
  flex-direction: column;
  gap: 16rem;
  margin-bottom: 60rem;

  @include media('md') {
    gap: 8rem;
    margin-bottom: 40rem;
  }
}
