// fonts
$font-Inter: "Inter", sans-serif;
$font-Gilroy: "Gilroy", sans-serif;
$font-Outfit: "Outfit", sans-serif;
$font-Onest: "Onest", sans-serif;
// fonts

// colors
$color-white: #FFFFFF;
$color-white-f5: #F5F5F5;
$color-white-eb: #e6e6e6;
$color-dark: #101010;
$color-black: #000000;
$color-blue: #052079;
$color-blue-dark: #052079;
$color-grey-ac: #ACACAC;
$color-red: #FF0000;
// colors
